rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{projectId} {
      allow read, write: if false;

      match /artifacts/{artifactId} {
        allow read, write: if false;
      }
    }
  }
}
